@import url('https://fonts.googleapis.com/css2?family=Alata&family=Chivo&family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input{
  @apply w-[370px] h-[90px] rounded-[5px] border-b-verde border-b-[3px] font-alata text-[24px] px-4 h-16 focus:outline-none;
}